<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorInsertarVotante</servlet-name>
        <servlet-class>Controlador.ControladorInsertarVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLogin</servlet-name>
        <servlet-class>Controlador.ControladorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorBajaVotante</servlet-name>
        <servlet-class>Controlador.ControladorBajaVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorModificarVotante</servlet-name>
        <servlet-class>Controlador.ControladorModificarVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorModificarVotante2</servlet-name>
        <servlet-class>Controlador.ControladorModificarVotante2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorListarCenso</servlet-name>
        <servlet-class>Controlador.ControladorListarCenso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVotar</servlet-name>
        <servlet-class>Controlador.ControladorVotar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorResultadoElectos</servlet-name>
        <servlet-class>Controlador.ControladorResultadoElectos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEscrutinio</servlet-name>
        <servlet-class>Controlador.ControladorEscrutinio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorInsertarVotante</servlet-name>
        <url-pattern>/ControladorInsertarVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLogin</servlet-name>
        <url-pattern>/ControladorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorBajaVotante</servlet-name>
        <url-pattern>/ControladorBajaVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorModificarVotante</servlet-name>
        <url-pattern>/ControladorModificarVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorModificarVotante2</servlet-name>
        <url-pattern>/ControladorModificarVotante2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorListarCenso</servlet-name>
        <url-pattern>/ControladorListarCenso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVotar</servlet-name>
        <url-pattern>/ControladorVotar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorResultadoElectos</servlet-name>
        <url-pattern>/ControladorResultadoElectos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEscrutinio</servlet-name>
        <url-pattern>/ControladorEscrutinio</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
